* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Spartan', sans-serif;
  background-color: #3a4764;
}

main {
  width: 100%;
  padding: 1.6rem 1.3rem;
}

main .header {
  position: relative;
  color: white;
  margin-bottom: 1.8rem;
}

main .header .calc {
  display: inline-block;
}

main .header .calc h1 {
  padding-top: 4px;
}

main .header .theme-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
}

main .header .theme-wrapper .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.6rem;
          column-gap: 1.6rem;
  font-size: 12px;
}

main .header .theme-wrapper .theme #theme {
  -ms-flex-item-align: end;
      align-self: flex-end;
  letter-spacing: 0.7px;
  padding-bottom: 4.3px;
}

main .header .theme-wrapper .theme .switcher {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .header .theme-wrapper .theme .switcher__numbers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 4px;
}

main .header .theme-wrapper .theme .switcher__numbers-wrapper .numbers {
  display: inline-block;
}

main .header .theme-wrapper .theme .switcher__circle {
  height: 26px;
  width: 75px;
  background-color: #232c43;
  border-radius: 10px;
}

main .input {
  background-color: #182034;
  color: white;
  font-size: 2rem;
  border-radius: 8px;
  margin-bottom: 1.4rem;
}

main .input__num {
  text-align: right;
  padding: 1.6rem 1.3rem;
}

main .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[5];
      grid-template-rows: repeat(5, minmax(0, 1fr));
      grid-template-areas: "seven eight nine del" "four five six plus" "one two three minus" "point zero divide x" "reset reset equal equal";
  gap: 0.8rem;
  background-color: #232c43;
  border-radius: 8px;
  padding: 1.5rem 1.3rem;
}

main .buttons .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eae3dc;
  border-radius: 6px;
  border-bottom: solid 4.7px #b4a597;
}

main .buttons .btn-wrapper .btn {
  font-size: 2rem;
  font-family: 'Spartan', sans-serif;
  background: none;
  color: #444b5a;
  height: 2rem;
  border-width: 0;
}

main .buttons #seven {
  height: 70px;
}

main .buttons #reset {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: reset;
}

main .buttons #equal {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: equal;
}

main .buttons #reset > button,
main .buttons #del > button,
main .buttons #equal > button {
  color: white;
}

main .buttons #reset > button,
main .buttons #del > button {
  font-size: 1.1rem;
}

main .buttons #multiply > button,
main .buttons #equal > button {
  font-size: 1.6rem;
}

main .buttons #reset,
main .buttons #del {
  background-color: #637097;
  border-bottom-color: #404e72;
}

main .buttons #equal {
  background-color: #d03f2f;
  border-bottom-color: #93261a;
}
/*# sourceMappingURL=main.css.map */